@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

/* Estilo do carrossel */
.job-carrousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto; /* Permite rolagem horizontal no mobile */
  scroll-snap-type: x mandatory;
  padding-bottom: 1rem; /* Espaço para a barra de rolagem */
}

.job-carrousel > div {
  flex: 0 0 100%; /* Cada item ocupa 100% da largura no mobile */
  scroll-snap-align: center;
}

@media (min-width: 768px) {
  .job-carrousel {
    overflow-x: hidden; /* Remove o overflow no desktop */
  }
  
  .job-carrousel > div {
    flex: 0 0 calc(33.333% - 1rem); /* Exibe 3 itens por linha no desktop */
  }
}