@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

/* css para o input mask */
.job-carrousel {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 2rem;
  margin-left: 10%; 
  @media (max-width: 1700px) {
    margin-left: 10%; 
    grid-template-columns: repeat(3, 400px);
  }

}


